.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
_targets
maps_interactive
data_processed
test*
output_data
qgis
.tmp
.idea
logs
*.yml
junk
grassdata
main_files
~$*
output_data/data_descriptor_files
diagramms/directory_tree.pdf
input_data/data
input_data/EUHYDRO_Coastline_EEA39_v013.shp