.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
!index.html
_targets
maps_interactive
data_processed
test*
output_data
qgis
.tmp
.idea
logs
*.yml
!config.yml
junk
grassdata
main_files
~$*
output_data/data_descriptor_files
data_descriptor/tex/directory_tree.pdf
input_data/data
input_data/EUHYDRO_Coastline_EEA39_v013
data_descriptor/tex/data_descriptor.pdf
data_descriptor/tex/data_descriptor.tex
data_descriptor/tex/eu-mohp.bib
data_descriptor.log
readme_hydroshare.html
readme_hydroshare.md